/**/.vscode
/**/.idea

# =========CPP=======
/**/build
/**/log

# =========Python=======
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
build/
dist/
*.log

# pyenv
.python-version

# dotenv
.env

# virtualenv
.venv/
venv/
ENV/



# =========== this =============
.localconfig.yaml
.last_success_time
files/
old/
test/